name: Cond

on: 
  workflow_dispatch:
    inputs:
      yes:
        description: 'Perform incremental build'
        required: true
        default: false
        type: boolean


jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      c1: ${{ steps.c1.outputs.c1>0 | input.yes=='false'}}
    steps: 
      - name: check
        if: input.yes == 'true'
        id: c1
        run: |
          COUNT=10
          echo "c1=$COUNT" >> $GITHUB_OUTPUT
  
