name: Cond

on: 
  workflow_dispatch:
    inputs:
      incremental:
        description: 'Perform incremental build'
        required: true
        default: false
        type: boolean


jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      run-deployment: ${{ steps.c1.outputs.c1>0 || !inputs.incremental }}
    steps: 
      - name: check count of updated docs
        if: inputs.incremental
        id: c1
        run: |
          COUNT=2
          echo "c1=$COUNT" >> $GITHUB_OUTPUT
      
  deployment:
    runs-on: ubuntu-latest
    needs: check
    if: ${{needs.check.outputs.run-deployment=='true'}}
    steps:
      - name: deploy
        run: |
          echo "inc--${{ inputs.incremental && ':incremental' || '' }}"
