name: Cond

on: 
  workflow_dispatch:
    inputs:
      aaa:
        description: 'Perform incremental build'
        required: true
        default: false
        type: boolean


jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      c1: ${{inputs.aaa=='false'}}
      # c1: steps.c1.outputs.c1>0 || inputs.aaa=='false'
    steps: 
      - name: check
        if: inputs.aaa == 'true'
        id: c1
        run: |
          COUNT=10
          echo "c1=$COUNT" >> $GITHUB_OUTPUT
      
  a1:
    runs-on: ubuntu-latest
    needs: check
    # if: needs.check.outputs.c1=='true' || inputs.aaa=='false'
    steps:
      - name: to be
        run: |
          echo "aaa ${{inputs.aaa}}"
          echo "aaa ${{needs.check.outputs.c1}}"
